<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="./app.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body ng-app="ngApp">
    <div class="container" ng-controller="Controller">
        <div class="col-1" >
            <input type="number" ng-model="inputNumberData" ng-blur="funcCalNumber($event)" value="">
        </div>
        <div class="col-2">
            <select  ng-change="changeSelectForm()" ng-model="selectFormValue">
                <option value="{{list.name}}"  ng-repeat="list in listOptionData track by $index">{{list.name}}</option>
            </select>
        </div>
        <div class="col-3">
            {{value}}
        </div>
    </div>
</body>

</html>