body {
  overflow: hidden;
}

.container {
  display: flex;
  height: 100vh;
}

.col-1 {
  width: 200px;
  border: 1px solid;
}

.col-2 {
  width: 100%;
  min-width: 200px;
  border: 1px solid;
}

.col-3 {
  width: 300px;
  border: 1px solid;
}

@media only screen and (max-width: 600px) {
  body {
    overflow: scroll;
  }
}
